.blogTemplate .blogTemplate-title {
    margin: 80px 0 24px;
  }
  .blogTemplate .blogTemplate-posted-by {
    font-size: 1.2em;
  }
  
  .blogTemplate a {
    color: #fff;
  }
p {
    color: bisque;
}

.blog {
  
  margin-bottom: auto;
  margin-top: 20px;
 
  border-bottom: 2px solid grey;
 
  
  
}