main {
    font-family: 'Lato', sans-serif;
    color: bisque;
    margin: auto;
    padding: auto;
}

h1 {
    
    margin: auto;
    padding: auto;
}
h2 {
    padding: auto;
    margin: auto;
}

.content {
    color: bisque;
    
}

.post-listing {
    text-align: justify;
}

.button-container {
    height: 100%; 
    width:100%; 
    margin: -10px -60px; 
    position: relative;
    top:50%; 
    left:50%;
}
 
