main {
    font-family: 'Lato', sans-serif;
    color: #C3073F;
    margin: auto;
    padding: auto;
    overflow-x: hidden;
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
h1 {
    
    margin: auto;
    padding: auto;
    color: #C3073F;
}
h2 {
    padding: auto;
    margin: auto;
}

.content {
    font-family: 'Lato', sans-serif;
    color: #C3073F;
    margin: auto;
    padding: auto;

}

.post-listing {
    text-align: center;
}


 
