h1 {
    align-content: center;
    margin-bottom: 1 rem;
}
.social-container {
    
    padding: .004px 200px ;
    align-content: center;
    margin: .00005rem;
  }


a.social {
    margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  justify-content: center;
  
}

a.social:hover {
    transform:  translateY(-2px);
}

a.twitter {
    color: #49a1eb;
    align-items: center;
    
}
a.instagram {
  padding: 25px 50 px;
  margin-top: auto;
}

